<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">
<!-- +======================================================================+ -->
<!-- |    Copyright (c) 2005, 2017 Oracle and/or its affiliates.            | -->
<!-- |                         All rights reserved.                         | -->
<!-- |                           Version 12.0.0                             | -->
<!-- +======================================================================+ -->

<!-- $Header: server.xml 120.0.12010000.2 2017/04/18 10:21:42 saarvapa noship $ --> 
<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="oracle.apps.fnd.sso.secguidelines.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="ConfigTypeVO"
      FullName="oracle.apps.fnd.sso.secguidelines.server.ConfigTypeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CriticalLevelVO"
      FullName="oracle.apps.fnd.sso.secguidelines.server.CriticalLevelVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DetailsVO"
      FullName="oracle.apps.fnd.sso.secguidelines.server.DetailsVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PoplistVO"
      FullName="oracle.apps.fnd.sso.secguidelines.server.PoplistVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="SecGuidelinesAM"
      FullName="oracle.apps.fnd.sso.secguidelines.server.SecGuidelinesAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="SecGuidelinesEO"
      FullName="oracle.apps.fnd.sso.secguidelines.server.SecGuidelinesEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="SecGuidelinesPVO"
      FullName="oracle.apps.fnd.sso.secguidelines.server.SecGuidelinesPVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="SecGuidelinesStatusEO"
      FullName="oracle.apps.fnd.sso.secguidelines.server.SecGuidelinesStatusEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="SecGuidelinesTLEO"
      FullName="oracle.apps.fnd.sso.secguidelines.server.SecGuidelinesTLEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="SecGuidelinesVO"
      FullName="oracle.apps.fnd.sso.secguidelines.server.SecGuidelinesVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="StatusVO"
      FullName="oracle.apps.fnd.sso.secguidelines.server.StatusVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
